#!/bin/sh -e

# This dance is needed because MAC isn't persisted on current (Jun17)
#  Armbian development images, and there's also need of automation around
#  setting eth0 MAC on Pine64 legacy images across rebuilds.

/sbin/ifconfig eth0 down
/sbin/ifconfig eth0 hw ether {{ eth0_mac }}
# ifup here, instead of ifconfig, so we run the up-down scripts which
#  will give us an IP address (among other things)
/sbin/ifup eth0
exit 0
