[global]
test_server_hostname = {{ test_server_hostname }}
test_bandwidth = {{ test_bandwidth }}
test_file_path = {{ test_file_path }}
test_group_id = {{ test_group }}
test_run_id = {{ test_run_id }}
{% for host in vars['play_hosts'] %}
[{{ host }}]
parallel_run_count = {{ hostvars[host]["parallel_run_count"] }}
{% endfor %}
